* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black;
}

.content {
    width: 50%;
    margin: 0 auto;
}

.header-col {
    height: 60px;
    display: flex;
    align-items: center;
}

.ig-text{
    font-size: 1.5rem;
}

.header-col:nth-child(2){
    justify-content: flex-end;
}